.footer__title {
  width: 15.2rem;
  height: 6rem;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 6rem;
  color: #21243d;
  padding-top: 1.5rem;
}

.footer__dashboard {
  margin-top: 2.2rem;
}
.dashboard__content {
  margin-top: -16rem;
  margin-left: 28rem;
}
.dashboard__img {
  width: 24.6rem;
  height: 18rem;
  border-radius: 0.8rem;
}
.dashboard__title {
  width: 40rem;
  height: 4.4rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 100%;
  color: #21243d;
}
.dashboard__data {
  width: 6.2rem;
  height: 2.5rem;
  border-radius: 1.6rem;
  padding-left: -0.1rem;
  padding-right: 1rem;
  font-size: 1.8rem;
  font-weight: 900;
  color: #ffffff;
  background-color: #142850;
}
.dashboard__name {
  width: 37.4rem;
  height: 3.4rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  color: #8695a4;
  margin-top: -2.2rem;
  margin-left: 10rem;
}
.dashboard__description {
  width: 55rem;
  height: 9.3rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: #21243d;
  padding-top: 2.2rem;
}
// MARGIN LEFT AUTO RIGHT AUTO BERSAM O'RTAGA KELMADI SHUNING UCHUN REM DA BERDIM
@media screen and (max-width: 400px) {
  .footer {
    margin-top: 30rem;
    margin-left: auto;
    margin-right: autos;
  }
  .footer__title {
    margin-right: auto;
  }
  .dashboard__img {
    width: 33.9rem;
    height: 23rem;
  }
  .dashboard__title {
    margin-top: 18rem;
    margin-left: -27rem;
  }
  .dashboard__data {
    margin-top: 2rem;
    margin-left: -28rem;
  }
  .dashboard__name {
    margin-left: -18rem;
  }
  .dashboard__description {
    width: 34.4rem;
    height: 9.6rem;
    margin-left: -28rem;
  }
}
.footer__vibrant {
  display: flex;
  margin-top: 3rem;
}
.vibrant__img {
  width: 24.6rem;
  height: 18rem;
  border-radius: 0.6rem;
}
.vibrant__title {
  width: 38rem;
  height: 4.4rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 100%;
  color: #21243d;
  padding-left: 1.8rem;
}
.vibrant__data {
  width: 6.2rem;
  height: 2.5rem;
  border-radius: 1.6rem;
  color: #ffffff;
  background-color: #142850;
  font-weight: 900;
  font-size: 1.8rem;
  margin-left: 1.8rem;
}
.vibrant__name {
  width: 37.4rem;
  height: 3.4rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  color: #8695a4;
  padding-left: 10.6rem;
  margin-top: -2rem;
}
.vibrant__description {
  width: 55rem;
  height: 9.3rem;
  font-size: 1.6rem;
  line-height: 100%;
  color: #21243d;
  padding-left: 1.8rem;
}
// MARGIN LEFT AUTO RIGHT AUTO BERSAM O'RTAGA KELMADI SHUNING UCHUN REM DA BERDIM
@media screen and (max-width: 400px) {
  .vibrant__title {
    width: 38rem;
    height: 4.4rem;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 26rem;
    margin-left: -36rem;
  }
  .vibrant__img {
    width: 33.9rem;
    height: 23rem;
  }
  .vibrant__data {
    margin-left: -34rem;
  }
  .vibrant__name {
    margin-left: -34rem;
  }
  .vibrant__description {
    width: 34.4rem;
    height: 9.6rem;
    margin-left: -36rem;
  }
}

.footer__malayalam {
  padding-top: 6.6rem;
  display: flex;
}
.malayalam__img {
  width: 24.6rem;
  height: 18.4rem;
  border-radius: 0.6rem;
}
.malayalam__title {
  width: 39rem;
  height: 4.4rem;
  font-weight: 700;
  font-size: 3rem;
  font-size: 3rem;
  line-height: 100%;
  color: #21243d;
  padding-left: 1.8rem;
}
.malayalam__data {
  width: 6.2rem;
  height: 2.5rem;
  border-radius: 1.6rem;
  background-color: #142850;
  font-weight: 900;
  font-size: 1.8rem;
  color: #ffffff;
  margin-top: 3rem;
  margin-left: 1.8rem;
}
.malayalam__name {
  width: 387.4rem;
  height: 3.4rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  color: #8695a4;
  margin-top: -2.6rem;
  margin-left: 10.6rem;
}
.malayalam__description {
  width: 50.7rem;
  height: 9.3rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: #21243d;
  padding-left: 1.8rem;
}

@media screen and (max-width: 400px) {
  .footer__malayalam {
    margin-top: -5rem;
  }
  .malayalam__content {
    margin-top: 25rem;
    margin-left: -32rem;
  }
  .malayalam__title {
    width: 38rem;
    height: 4.4rem;
    font-weight: 700;
  }
  .malayalam__img {
    width: 33.9rem;
    height: 23rem;
  }
  .malayalam__description {
    width: 34.4rem;
    height: 9.6rem;
  }
}
@media screen and (max-width: 390px) {
  .footer__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 352px) {
  .footer__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.cta__content {
  display: flex;
  margin-top: 16.6rem;
  margin-left: 29rem;
  gap: 3.5rem;
}
.cta__main__title {
  width: 22.2rem;
  height: 2.1rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  color: #21243d;
  padding-top: 2.6rem;
  margin-left: 30rem;
}

@media screen and (max-width: 400px) {
  .cta__content {
    margin-left: 2.5rem;
    margin-top: 8rem;
  }
  .cta__main__title {
    margin-left: 2.5rem;
  }
}

// WORK
.components {
  display: flex;
  margin-top: 3.5rem;
}
.component__img {
  width: 24.6rem;
  height: 18.4rem;
  border-radius: 0.6rem;
}
.component__content {
  padding-left: 1.8rem;
}
.component__title {
  width: 17.3rem;
  height: 4.4rem;
  font-weight: 700;
  font-size: 3rem;
  color: #21243d;
}
.component__data {
  width: 6.2rem;
  height: 2.5rem;
  border-radius: 1.6rem;
  background-color: #142850;
  color: #ffffff;
  font-weight: 900;
  font-size: 1.8rem;
  margin-top: 0.8rem;
}
.component__names {
  width: 35rem;
  height: 2.9rem;
  font-weight: 400;
  font-size: 2rem;
  color: #8695a4;
  padding-left: 10.6rem;
  margin-top: -2rem;
}
.component__description {
  width: 41.5rem;
  height: 9.3rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #21243d;
  padding-top: 2rem;
}
.cta {
  margin-left: 1rem;
}
.work__cta {
  margin-left: 25rem;
}

@media screen and (max-width: 400px) {
  .component__img {
    width: 33.9rem;
    height: 23rem;
  }
  .component__title {
    width: 38rem;
    height: 4.4rem;
    font-weight: 700;
    font-size: 3rem;
  }
  .component__description {
    width: 34.4rem;
    height: 9.6rem;
  }
  .component__content {
    margin-top: 30rem;
    margin-left: -36rem;
  }
  .hr__blog {
    display: none;
  }
  .work__cta {
    margin-left: 5rem;
  }
}
.section__container {
  margin-top: 14.8rem;
}
.section__title {
  width: 45rem;
  height: 10rem;
  font-weight: 700;
  font-size: 3.4rem;
  color: #21243d;
}
.section__data {
  width: 6.2rem;
  height: 2.5rem;
  border-radius: 1.6rem;
  background-color: #ff7c7c;
  color: #ffffff;
  font-weight: 900;
  font-size: 1.8rem;
  margin-top: 3.2rem;
}
.section__theme {
  width: 37.4rem;
  height: 3.4rem;
  font-weight: 400;
  font-size: 2rem;
  color: #21243d;
  margin-left: 10rem;
  margin-top: -2.4rem;
}
.section__description {
  width: 68.1rem;
  height: 4.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #000000;
  padding-top: 2.3rem;
}
.detail__img__one {
  width: 68.1rem;
  height: 46rem;
  padding-top: 4.6rem;
}
@media screen and (max-width: 400px) {
  .section__title {
    width: 33.9rem;
    height: 8rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
  }
  .detail__img {
    width: 33.9rem;
    height: 25.6rem;
    margin-top: -13rem;
  }
  .section__theme {
    width: 26.2rem;
    height: 5.2rem;
    font-size: 1.8rem;
  }
  .detail__nav {
    margin-left: auto;
    margin-right: auto;
  }
  .section__description {
    width: 33.9rem;
    height: 25.6rem;
    font-weight: 400;
    font-size: 1.6rem;
  }
  .section__content {
    margin-top: -10rem;
  }
}
.detail__title__one {
  width: 50.6rem;
  height: 4.5rem;
  font-weight: 500;
  font-size: 3rem;
  line-height: 6rem;
  color: #21243d;
  margin-top: 25rem;
}
.detail__title__two {
  width: 50.6rem;
  height: 8.2rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 6rem;
  color: #21243d;
}
.detail__description {
  width: 67.7rem;
  height: 4.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
}
.detail__main__img__one {
  width: 82rem;
  height: 46rem;
  padding-top: 3rem;
}
@media screen and (max-width: 400px) {
  .detail__title__one {
    width: 11.9rem;
    height: 6rem;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 6rem;
  }
  .detail__title__two {
    width: 9.2rem;
    height: 6rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 6rem;
  }
  .detail__description {
    width: 33.9rem;
    height: 9.6rem;
  }
  .detail__main__img__one {
    width: 33.9rem;
    height: 25.6rem;
  }
  .footer__content__detail {
    margin-top: -50rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.detail__main__img__two {
  width: 82rem;
  height: 46rem;
  margin-top: 2.7rem;
}

@media screen and (max-width: 400px) {
  .detail__main__img__two {
    width: 33.9rem;
    height: 25.7rem;
  }
}

.cta__detail {
  margin-left: 32rem;
  margin-top: 10rem;
  padding-bottom: 10rem;
}

@media screen and (max-width: 400px) {
  .cta__detail {
    margin-left: auto;
    margin-right: auto;
  }
}
