.main__btn {
  width: 20.8rem;
  height: 4.7rem;
  border-radius: 0.2rem;
  background-color: #ff6464;
  color: #ffffff;
  border-color: #ff6464;
  margin-top: 2rem;
  margin-bottom: 8.8rem;
}
.btn {
  font-weight: 500;
  font-size: 2rem;
  line-height: 100%;
}
